{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="custom-select" style="width:300px;" name="symbol">
                <option selected>Owned Stocks</option>
                {% for row in rows %}
                    <option> {{ row["symbol"] }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" name="shares" placeholder="Number off shares" type="number" min="0" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
